<!DOCTYPE html>
<html>
  <head>
    <title>Cat's Eyes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Kit Font Awesome -->
   <script src="https://kit.fontawesome.com/662ce12a4c.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <%= render 'layouts/header' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'layouts/footer' %>


  </body>
</html>
